{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Thursday, December 8 <br> <small>Room Vredenburg/Neude</small></h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>09:30 - 10.00</td> <td> Welcome and Introduction 👋</td></tr>
      <tr><td>10.00 - 10.30</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td>10:30 - 12.00</td> <td> <a href="https://datacarpentry.org/shell-genomics/">Introduction to the command-line (Shell)</a></td></tr>
      <tr><td>12:00 - 13.00</td> <td> Lunch break 🥪 🍎 🥛</td></tr>
      <tr><td>13.00 - 14.30</td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the command-line (continued)</a></td></tr>
      <tr><td>14:30 - 14.45</td> <td> Coffee ☕ tea 🍵 break</td></tr>
      <tr><td>14.45 - 17.00</td><td><a href="https://carpentries-incubator.github.io/metagenomics/01-background-metadata/index.html">Metagenomics: Introduction, QC, trimming (Misha).</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Friday, December 9 <br><small>Room Maliebaan</small></h3>
    <table class="table table-striped">
    <td>Before starting</td><td>Short recap of day 1</td>
			<tr><td>09:30 - 11.00</td><td><a href="https://carpentries-incubator.github.io/metagenomics/04-assembly/index.html">Metagenomics: assembly, binning (Jesse).</a></td></tr>
			<tr><td>11:00 - 12.00</td><td><a href="https://carpentries-incubator.github.io/metagenomics/06-taxonomic/index.html">Metagenomics: taxonomic assignment (Jesse).</a></td></tr>
      <tr><td>12:00 - 13.00</td> <td> Lunch break 🥪 🍎 🥛</td></tr>
      <tr><td>13:00 - 14.30</td><td><a href="https://carpentries-incubator.github.io/metagenomics/07-Diversity-tackled-with-R/index.html">Metagenomics: diversity analysis with R (Sam).</a></td></tr>
      <tr><td>14:30 - 14.45</td> <td> Coffee ☕ tea 🍵 break</td></tr>
      <tr><td>14.45 - 16.30</td><td><a href="https://carpentries-incubator.github.io/metagenomics/08-hands_on-diversity/index.html">Metagenomics: taxonomic analysis with R (Sam)</a></td></tr>
      <tr><td>16.30 - 17.00</td><td>Day 2 recap and next steps 🚀 😺</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>